<header class="header slider-wrapper" id="header"><!--header-start-->
    <!--
    <ul class="bxslider">
        <li style="background:url(assets/img/agracq/img1.jpg);"></li>
        <li style="background:url(assets/img/agracq/img2.jpg);"></li>
        <li style="background:url(assets/img/agracq/img3.jpg);"></li>
    </ul>
    -->
	<div class="container containerBxSlider">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><img src="assets/img/agracq/logo.png" alt=""></a>	
        </figure>	
        <!--
        <h1 class="animated fadeInDown delay-07s">{{title}}</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>Per la tua splendida vacanza a due passi dal Mare e dalla Montagna</li>
        </ul>
        -->
        <a class="link animated fadeInUp delay-1s servicelink" href="#storia">Visita</a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header">Home</a></li>
            <li><a href="#storia">Storia</a></li>
            <li><a href="#servizi">Servizi</a></li>
            <li class="small-logo"><a href="#header"><img src="assets/img/agracq/logoNav.png" alt=""></a></li>
            <li><a href="#gallery">Foto</a></li>
            <li><a href="#dovesiamo">Dove Siamo</a></li>
            <li><a href="#contact">Contatti</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
</nav><!--main-nav-end-->



<section class="main-section" id="storia"><!--main-section-start-->
	<div class="container" style="text-align:justify">
    	<h2>Storia</h2>
        <p>
            La storia ci narra che la parte antica della struttura risale al VI secolo d.C. e quello di <strong>S. Maria de Aquabona</strong> era il piu' antico monastero di suore benedettine, dei quattro esistenti nel comune di Scala. <br />
            <br />
            Oltre le due abbazie maschili:
            <br />
            1) <b><em>SS Benedetto e Scolastica in Tavernata</em></b>, che sorgeva nell'alta valle del canneto, in territorio allora di Scala tra Pontone e Pogerola;
            <br />
            2) <b><em>Monasterium Sanctorum Iuliani et Marciani in monte Cerbellano de Scala</em></b>, cioe' in un luogo (oltre 1.100 m. s. l. m. con maggiore solitudine e di minori contatti con le classi dirigenti dello stato).
            
            <br /><br />
            L'antica diocesi di Scala aveva ben quattro  monasteri femminili, il primo era situato quasi al centro della citta', alquanto  sotto la cattedrale, verso la <b><em>lama di Priso</em></b> e non lontano dalle sponde del fiumicello che qui lascia il nome di <b><em>Reginna</em></b> e prende quello di <b><em>Dragone</em></b>, sorgeva quello di <b><em>Santa Maria de Aquabona</em></b>.
        </p>
        
        <br /><br />
    	<div class="row">
        	<div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
            	<p>
                    La tradizione lo riteneva fondato a <b><em>Romanis</em></b>; anche alcuni autori benedettini lo assegnarono al secolo VI. Sarebbe dunque contemporaneo a San Benedetto. Le prove mancano, ma puo' ben darsi che il cenobio dell'Acquabona sia il piu' antico dei quattro monasteri di donne. La comunita' esisteva ancora nel secolo XIII, poi si estinse, forse per la vicinanza dell'altra di San Cataldo. Gli edifici andarono man mano in rovina, parte fu trasformata in casa colonica. Resto' una cappella, la quale dopo la meta' del secolo XVI era cosi' poco importante che le visite pastorali neppure la elencano. Solo Mons. Perimezzi l'anno 1710 vi si reco' trovandovi un solo altare <b><em>pauperrime ornatum</em></b>. 

                    <br /><br />
                    La cappella ando' travolta in una disastrosa alluvione la notte del 20 Gennaio 1764. Qualche traccia della costruzione monastica ancora esiste presso la fontana e nel fondo agricolo, ambedue denominati dell'Acquabona.
                </p>
            </div>
            <figure class="col-lg-6 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img src="assets/img/agracq/litografia.jpg" alt="" style="border: 20px solid #efefef;" />
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->

<section class="sectionBg1"><!--sectionBg-start-->
	<div class="container">
        <h2>&nbsp;</h2>
    </div>
</section><!--sectionBg-end-->

<section class="main-section paddind" id="servizi"><!--main-section-start-->
	<div class="container paddind">
    	<h2>Servizi</h2>
    	<h6>
            La nostra azienda dispone di 3 camere con possibilita' di una tripla, per un totale di 7 posti letto. 
            <br /><br />
            Le camere, ospitali e confortevoli, recentemente ristrutturate sono arredate in stile arte povera, ognuna con:
        </h6>
        <div class="portfolioFilter">  
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="javascript:void(0);" class="current">bagno privato</a></li>
                <li><a href="javascript:void(0);">doccia</a></li>
                <li><a href="javascript:void(0);">asciugacapelli</a></li>
                <li><a href="javascript:void(0);">TV satellitare</a></li>
                <li><a href="javascript:void(0);">aria condizionata</a></li>
                <li><a href="javascript:void(0);">collegamento a internet</a></li>
                <li><a href="javascript:void(0);">cassetta di sicurezza</a></li>
            </ul>
        </div> 

        <div class="portfolioContainer wow fadeInUp delay-04s">
            <div class=" Portfolio-box printdesign">
                <a href="#"><img src="assets/img/agracq/torre_ziro.png" alt=""></a>	
                <h3>Camera 1</h3>
            </div>
            <div class="Portfolio-box webdesign">
                <a href="#"><img src="assets/img/agracq/valle_ferriere.png" alt=""></a>	
                <h3>Camera 2</h3>
            </div>
            <div class="Portfolio-box webdesign">
                <a href="#"><img src="assets/img/agracq/valle_mulini.png" alt=""></a>	
                <h3>Camera 3</h3>
            </div>
        </div>

        <h6>
            L'azienda inoltre dispone di un'ampia sala ristorazione dove potrete degustare i nostri prodotti tipici:
        </h6>

        <div class="portfolioFilter">  
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="javascript:void(0);" class="current">la pasta fatta a mano</a></li>
                <li><a href="javascript:void(0);">la grigliata di carne</a></li>
                <li><a href="javascript:void(0);">tanti altri piatti realizzati con i prodotti del nostro orto</a></li>
            </ul>
        </div> 
        <h6>
            Inoltre l'Agriturismo Acquabona da la possibilita' di:
            <br /><br />
                1) Escursioni storico-culturali, alle localita' piu' famose della Costa d'Amalfi
                <br /><br />
                2) Escursioni naturalistiche:
        </h6>

        <div class="portfolioFilter">  
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="javascript:void(0);" class="current">Riserva Naturale Orientata Valle delle Ferriere</a></li>
                <li><a href="javascript:void(0);">Valle dei Mulini con discesa ad Amalfi</a></li>
                <li><a href="javascript:void(0);">Sentieri dei Monti Lattari tracciati dal CAI</a></li>
            </ul>
        </div> 

        <div class="portfolioContainer wow fadeInUp delay-04s">
            <div class=" Portfolio-box printdesign">
                <a href="#"><img src="assets/img/agracq/torre_ziro.png" alt=""></a>	
                <h3>Torre dello Ziro</h3>
            </div>
            <div class="Portfolio-box webdesign">
                <a href="#"><img src="assets/img/agracq/valle_ferriere.png" alt=""></a>	
                <h3>Valle delle Ferriere</h3>
            </div>
            <div class="Portfolio-box webdesign">
                <a href="#"><img src="assets/img/agracq/valle_mulini.png" alt=""></a>	
                <h3>Valle dei Mulini</h3>
            </div>
        </div>

        <h6>
                3) Partecipazione alle attivita' agricole: raccolta dei maggiori prodotti aziendali
                (uva, limoni, noci, fichi, castagne, ortaggi di stagione etc.)
                <br /><br />
                4) Preparazione di conserve e marmellate con i prodotti aziendali
                <br /><br />
                5) Partecipazione alla conduzione degli allevamenti presenti in azienda:
                bovini da latte, galline, conigli e altri animali di bassa corte
                <br /><br />
                6) Passeggiate ecologiche
                <br /><br />
                7) L'azienda fa parte dell'associazione 'Strada del vino Costa d'Amalfi' e, su richiesta specifica, organizza degustazioni con prodotti tipici
        </h6>
        
	</div>
</section><!--main-section-end-->

<section class="sectionBg2"><!--sectionBg-start-->
	<div class="container">
        <h2>&nbsp;</h2>
    </div>
</section><!--sectionBg-end-->

<section class="main-section team" id="gallery"><!--main-section team-start-->
	<div class="container">
        <h2>FOTO</h2>
        <h6>Clicca sulle foto per visualizzare le foto della categoria</h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>

            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->


<!-- Map Section -->
<section class="main-section maps-section" id="dovesiamo"><!--maps-section start-->
    <div class="container">
        <h2>DOVE SIAMO </h2>
        <h6>
            Immerso nella <b>Valle del Dragone</b> a circa 300 metri sul livello del mare, sorge l'<b>Agriturismo Acquabona</b>.  
            <br /><br />
            E' la struttura ideale per gli amanti delle escursioni e delle passeggiate, potrete raggiungere le perle della Costiera Amalfitana comodamente a piedi essendo l'agriturismo posizionato a  pochi minuti da <b>Ravello</b>, con le sue magnifiche <b>ville Rufolo e Cimbrone</b> e dalla affascinante <b>Amalfi</b>. 
            <br /><br />
            Inoltre avrete la possibilita' di conoscere dei luoghi incantevoli come la <b>Torre dello Ziro</b>, <b>La Valle Delle Ferriere</b>, <b>Santa Maria dei Monti</b>, che sono solo alcune delle tante escursioni che potrete effettuare durante la vostra vacanza.
            <br /><br />
            <a href="http://maps.google.com/?q=40.650274,14.608041" target="_blank"><i class="fa fa-map-signs"></i> Come arrivarci</a>
        </h6>
    </div>
    <div id="map"></div>
</section><!--maps-section end-->


<div class="container">
<section class="main-section contact" id="contact">
	
        <div class="row">
            <div class="col-lg-3 col-sm-3"></div>
        	<div class="col-lg-9 col-sm-9 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class="fa fa-map-marker"></i>Indirizzo:</h3>
                	<span>via Acquabona, 84010 Scala (Sa) - Costiera Amalfitana</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa fa-phone"></i>Telefono:</h3>
                	<a href="tel:+39089858023">+39 089 858023</a> - <a href="tel:+393282010433">+39 328 201 04 33</a>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa fa-pencil"></i>email:</h3>
                	<a href="mailto:agriacquabona@gmail.com">agriacquabona@gmail.com</a>
                </div>
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa fa-clock-o"></i>Orari:</h3>
                	<span><strong>Apertura:</strong> Martedì - Domenica<br><strong>Giornata di riposo:</strong> Lunedì</span>
                </div>
                <ul class="social-link">
                    <!--
                	<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    -->
                    <li class="facebook"><a href="https://www.facebook.com/agriturismo.acquabona.1/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="gplus"><a href="https://plus.google.com/105995280911778220723" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <!--
                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    -->
                </ul>
            </div>
            <!--
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	{{sendmessage}} - {{errormessage}}
                    <div id="sendmessage" *ngIf="sendmessage == 'true'">Your message has been sent. Thank you!</div>
                    <div id="errormessage" *ngIf="errormessage == 'true'">Error!</div>
                    <form action="sendEmail.php" (ngSubmit)="onSubmit()" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control input-text" id="name" placeholder="* Your Name" required [(ngModel)]="message.name" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-text" name="email" id="email" placeholder="* Your Email" required [(ngModel)]="message.email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="* Subject" required [(ngModel)]="message.subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-text text-area" name="message" rows="5" placeholder="* Message" required [(ngModel)]="message.message"></textarea>
                            <div class="validation"></div>
                        </div>
                        
                        <div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
                    </form>
                </div>	
            </div>
            -->
        </div>
</section>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><img src="assets/img/agracq/logo.png" alt=""></a></div>
        <span class="copyright">&copy; 2017 Agriturismo Acquabona. All Rights Reserved</span>
        <div class="credits">
             Powereb by <a href="https://www.alefal.it" target="_blank">Alefal.it</a>
        </div>
        <div class="credits">
            <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
            -->
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/" target="_blank">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
        </div>
    </div>
</footer>