<header class="header" id="header"><!--header-start-->
	<div class="container">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><img src="assets/img/logo.png" alt=""></a>	
        </figure>	
        <h1 class="animated fadeInDown delay-07s">{{title}}</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>Per la tua splendida vacanza a due passi dal Mare e dalla Montagna</li>
        </ul>
            <a class="link animated fadeInUp delay-1s servicelink" href="#storia">Visita</a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header">Home</a></li>
            <li><a href="#storia">Storia</a></li>
            <li><a href="#servizi">Servizi</a></li>
            <li class="small-logo"><a href="#header"><img src="assets/img/small-logo.png" alt=""></a></li>
            <li><a href="#gallery">Foto</a></li>
            <li><a href="#dovesiamo">Dove Siamo</a></li>
            <li><a href="#contact">Contatti</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->



<section class="main-section" id="storia"><!--main-section-start-->
	<div class="container">
    	<h2>Storia</h2>
        <p>
            La storia ci narra che la parte antica della struttura risale al VI secolo d.C. e quello di <strong>S. Maria de Aquabona</strong> era il piu' antico monastero di suore benedettine, dei quattro esistenti nel comune di Scala. <br />
            <br />
            Oltre le due abbazie maschili:
            <br />
            1) <b><em>SS Benedetto e Scolastica in Tavernata</em></b>, che sorgeva nell'alta valle del canneto, in territorio allora di Scala tra Pontone e Pogerola;
            <br />
            2) <b><em>Monasterium Sanctorum Iuliani et Marciani in monte Cerbellano de Scala</em></b>, cioe' in un luogo (oltre 1.100 m. s. l. m. con maggiore solitudine e di minori contatti con le classi dirigenti dello stato).
            
            <br /><br />
            L'antica diocesi di Scala aveva ben quattro  monasteri femminili, il primo era situato quasi al centro della citta', alquanto  sotto la cattedrale, verso la <b><em>lama di Priso</em></b> e non lontano dalle sponde del fiumicello che qui lascia il nome di <b><em>Reginna</em></b> e prende quello di <b><em>Dragone</em></b>, sorgeva quello di <b><em>Santa Maria de Aquabona</em></b>.
        </p>
        
        <br /><br />
    	<div class="row">
        	<div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
            	<p>
                    La tradizione lo riteneva fondato a <b><em>Romanis</em></b>; anche alcuni autori benedettini lo assegnarono al secolo VI. Sarebbe dunque contemporaneo a San Benedetto. Le prove mancano, ma puo' ben darsi che il cenobio dell'Acquabona sia il piu' antico dei quattro monasteri di donne. La comunita' esisteva ancora nel secolo XIII, poi si estinse, forse per la vicinanza dell'altra di San Cataldo. Gli edifici andarono man mano in rovina, parte fu trasformata in casa colonica. Resto' una cappella, la quale dopo la meta' del secolo XVI era cosi' poco importante che le visite pastorali neppure la elencano. Solo Mons. Perimezzi l'anno 1710 vi si reco' trovandovi un solo altare <b><em>pauperrime ornatum</em></b>. 

                    <br /><br />
                    La cappella ando' travolta in una disastrosa alluvione la notte del 20 Gennaio 1764. Qualche traccia della costruzione monastica ancora esiste presso la fontana e nel fondo agricolo, ambedue denominati dell'Acquabona.
                </p>
            </div>
            <figure class="col-lg-6 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img src="assets/img/agracq/litografia.jpg" alt="" style="border: 20px solid #efefef;" />
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->

<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>FOTO IN EVIDENZA</h2>
    </div>
</section><!--business-talking-end-->

<section class="main-section paddind" id="servizi"><!--main-section-start-->
	<div class="container">
    	<h2>Servizi</h2>
    	<h6>
            La nostra azienda dispone di 3 camere con possibilita' di una tripla, per un totale di 7 posti letto. 
            <br /><br />
            Le camere, ospitali e confortevoli, recentemente ristrutturate sono arredate in stile arte povera, ognuna con:
        </h6>
        <div class="portfolioFilter">  
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="javascript:void(0);" class="current">bagno privato</a></li>
                <li><a href="javascript:void(0);">doccia</a></li>
                <li><a href="javascript:void(0);">asciugacapelli</a></li>
                <li><a href="javascript:void(0);">TV satellitare</a></li>
                <li><a href="javascript:void(0);">aria condizionata</a></li>
                <li><a href="javascript:void(0);">collegamento a internet</a></li>
                <li><a href="javascript:void(0);">cassetta di sicurezza</a></li>
            </ul>
        </div> 

        <h6>
            L'azienda inoltre dispone di un'ampia sala ristorazione dove potrete degustare i nostri prodotti tipici:<br />
            - la pasta fatta a mano, <br />
            - la grigliata di carne, <br />
            - tanti altri piatti realizzati con i prodotti del nostro orto.<br />
            <br /><br />
            Inoltre l'Agriturismo Acquabona da la possibilita' di:
            <br /><br />
                1) Escursioni storico-culturali, alle localita' piu' famose della Costa d'Amalfi
                <br /><br />
                2) Escursioni naturalistiche:
                    <br />
                    - Riserva Naturale Orientata Valle delle Ferriere
                    <br />
                    - Valle dei Mulini con discesa ad Amalfi
                    <br />
                    - Sentieri dei Monti Lattari tracciati dal CAI
                <br /><br />
                3) Partecipazione alle attivita' agricole: raccolta dei maggiori prodotti aziendali
                (uva, limoni, noci, fichi, castagne, ortaggi di stagione etc.)
                <br /><br />
                4) Preparazione di conserve e marmellate con i prodotti aziendali
                <br /><br />
                5) Partecipazione alla conduzione degli allevamenti presenti in azienda:
                bovini da latte, galline, conigli e altri animali di bassa corte
                <br /><br />
                6) Passeggiate ecologiche
                <br /><br />
                7) L'azienda fa parte dell'associazione 'Strada del vino Costa d'Amalfi' e, su richiesta specifica, organizza degustazioni con prodotti tipici
        </h6>
        
	</div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        <div class=" Portfolio-box printdesign">
            <a href="#"><img src="assets/img/agracq/torre_ziro.jpg" alt=""></a>	
            <h3>Torre dello Ziro</h3>
        </div>
        <div class="Portfolio-box webdesign">
            <a href="#"><img src="assets/img/agracq/valle_ferriere.jpg" alt=""></a>	
            <h3>Valle delle Ferriere</h3>
        </div>
    </div>
</section><!--main-section-end-->


<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>Let’s Talk Business.</h2>
    </div>
</section><!--business-talking-end-->

<section class="main-section team" id="gallery"><!--main-section team-start-->
	<div class="container">
        <h2>FOTO</h2>
        <h6>Clicca sulle foto per visualizzare le foto della categoria</h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>

            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/agracq/prodotti.png" alt="">
                    <ul>
                        <li><a href="#" class="fa-picture-o"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Agriturismo</h3>
                <span class="wow fadeInDown delay-03s">Scopri il nostro agriturismo</span>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->


<section class="main-section client-part" id="dovesiamo"><!--main-section client-part-start-->

    <div class="container">
        <!-- Map Section -->
        <div id="map"></div>
    </div>
	
    <div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i class="fa-quote-right"></i></b>
    	<div class="row">
        	<div class="col-lg-12">
            	<p class="client-part-haead wow fadeInDown delay-05">It was a pleasure to work with the guys at Knight Studio. They made sure 
we were well fed and drunk all the time!</p>
            </div>
        </div>
    	<ul class="client wow fadeIn delay-05s">
        	<li><a href="#">
            	<img src="assets/img/client-pic1.jpg" alt="">
                <h3>James Bond</h3>
                <span>License To Drink Inc.</span>
            </a></li>
        </ul>
    </div>
</section><!--main-section client-part-end-->


<div class="container">
<section class="main-section contact" id="contact">
	
        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>Indirizzo:</h3>
                	<span>via Acquabona, 84010 Scala (Sa) - Costiera Amalfitana</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa-phone"></i>Telefono:</h3>
                	<span>+39 089 858023 - +39 328 201 04 33</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i>email:</h3>
                	<span>agriacquabona@gmail.com</span>
                </div>
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa-clock-o"></i>Orari:</h3>
                	<span><strong>Apertura:</strong> Martedì - Domenica<br><strong>Giornata di riposo:</strong> Lunedì</span>
                </div>
                <ul class="social-link">
                    <!--
                	<li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                    -->
                    <li class="facebook"><a href="https://www.facebook.com/agriturismo.acquabona.1/" target="_blank"><i class="fa-facebook"></i></a></li>
                    <li class="gplus"><a href="https://plus.google.com/105995280911778220723" target="_blank"><i class="fa-google-plus"></i></a></li>
                    <!--
                    <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                    -->
                </ul>
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        
                        <div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
                    </form>
                </div>	
            </div>
        </div>
</section>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><img src="assets/img/footer-logo.png" alt=""></a></div>
        <span class="copyright">&copy; Knight Theme. All Rights Reserved</span>
        <div class="credits">
            <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
            -->
            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>