<!-- ADD -->
<div class="btn-floating" id="help-actions">
  <div class="btn-bg"></div>
  <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" (click)="dataRefresh()">
    <i class="icon fa fa-refresh"></i>
  </button>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="card card-mini">
      <div class="card-header">
        MENU: <strong>{{categoryName}}</strong>
      </div>
      <div class="card-body" *ngIf="products?.length == 0">
        <h4>Nessun piatto disponibile</h4>
      </div>
      <div class="card-body" *ngIf="products?.length > 0">
        <div class="media social-post" *ngFor="let prod of products | orderBy:'name'">
          <div class="media-left">
            <img src="./assets/img/no_image.jpg" *ngIf="prod.photo == ''" class="img-thumbnail" />
            <img src="{{hostImage}}/{{prod.photo}}" *ngIf="prod.photo != ''" class="img-thumbnail" />
          </div>
          <div class="media-body">
            <div class="media-heading">
              <h4 class="title">{{prod.name}} <span *ngIf="prod.price != ''" class="badge badge-warning pull-right">&euro; {{prod.price}}</span></h4>
              <h5 class="timeing">{{prod.category}}</h5>
            </div>
            <div class="media-content" [innerHTML]="prod.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">

    <div class="card card-mini">
      <div class="card-header">
        <div class="card-title">Categorie</div>
      </div>
      <div class="card-body no-padding table-responsive">
        <table class="table card-table categoriesList">
          <thead>
            <tr>
              <th>Nome</th>
              <th class="right">Piatti</th>
              <th>Stato</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of categories  | orderBy:'name'" (click)="loadData(cat.name)" [class.active]="cat.name == categoryName">
              <td>{{cat.name}}</td>
              <td class="right">{{cat.count}}</td>
              <td>
                <span *ngIf="cat.count > 0" class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span *ngIf="cat.count == 0" class="badge badge-danger badge-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>