.orderDetail .card.card-banner .card-body .content .value {
    font-size: 2.5em;
    padding-top: 1rem;
}

.popover {
    z-index: 1000000;
}

.card.card-banner .card-body {
    z-index: 1;
}
.card.card-banner .card-body .icon {
    z-index: 998;
}

.itemIsExtra .content {
    background-color: #defb97 !important;
    font-style: italic;
    font-size: 1.2rem;
}

.iconCheckItem {
    margin-left: 100px;
}

/* NOTE */
.quote-container {
  margin-top: 30px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  border-left-width: 0px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

/*** BUTTON FAB ***/
.btn-floating-edit {
    bottom: 170px;
}
.btn-floating-edit .btn-bg {
    border-color: #0f5f2a;
    border-bottom-color: #0f5f2a;
    background-color: #298e4b;
    box-shadow: 0 2px 3px rgba(231, 76, 60, 0.3);
}

.btn-floating-print {
    bottom: 100px;
}
.btn-floating-print .btn-bg {
    border-color: #fff;
    border-bottom-color: #fff;
    background-color: #333;
    box-shadow: 0 2px 3px rgba(231, 76, 60, 0.3);
}

.btn-floating-delete {
    bottom: 30px;
}
.btn-floating-delete .btn-bg {
    border-color: #E74C3C;
    border-bottom-color: #d73727;
    background-color: #E74C3C;
    box-shadow: 0 2px 3px rgba(231, 76, 60, 0.3);
}