<div class="sidebar-header d-flex justify-content-between">
    <h5>
        <i class="fa fa-list-ul"></i> Users
    </h5>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-refresh" (click)="refreshUsers()"></i>
        </button>
        <button type="button" class="btn btn-sm btn-success">
            <i class="fa fa-plus" (click)="userCreationPrepare()"></i>
        </button>
    </div>
</div>
<hr />
<div>
    <div *ngIf="errorsCollection?.message">
        <div class="alert alert-danger" role="alert" id="errorsCollection">
            Some error occurred. Please try again
        </div>
    </div>

    <ul class="list-group sidebarContainer">
        <li *ngFor="let user of usersCollection" class="list-group-item d-flex justify-content-between">
            <div>
                <span class="badge badge-primary">#{{ user.company }}</span> - <small>{{ user.createdAt | date }}</small>
                <h6 class="c-pointer" (click)="userDetail(user)">
                    <mat-icon>person_outline</mat-icon> {{ user.firstname }} {{ user.lastname }}
                </h6>
            </div>
            <div style="line-height: 50px;" class="align-middle c-pointer">
                <i class="fa fa-trash text-danger" (click)="userDelete(user)"></i>
            </div>
        </li>
    </ul>
</div>