.left {
	text-align: left;
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	background: #FFF;
}

.toolbar {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #fff;
	text-align: center;
	border-bottom: 1px solid #d6d6d6;
}

/*
.buttonRefresh {
	top: 3px;
	right: 3px;
	position: fixed;
	border: 1px solid #057cff;
	border-radius: 4px;
	background: #fff;
	padding: 3px;
	color: #057cff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}
*/

#mask {
	position: fixed;
	opacity: 0.8;
	top: 45px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fefefe;
}

#loading {
	margin: 0 auto;
	width: 44px;
	padding-top: 140px;
}

.feed-item {
	border-bottom: 1px solid #ccc;
	line-height: 1.2;
	padding: 6px;
}
.feed-item:nth-child(2n) {
	background: #f6f3f6;
}

.feed-item time {
	font-size: 90%;
	color: #006ADB;
}

.feed-item h2 {
	font-size: 115%;
	color: #313732;
	font-weight: bold;
	margin: 2px 0 5px;
}

.feed-item p {
	font-size: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

#error-message {
	padding: 20px;
	color: white;
	width: 98%;
	background: red;
	margin: 25px;
	font-weight: bold;
	text-align: center;
	display: none;
}

.page--menu-page__content {
	background-color: #333;
	color: white;
}

.menu-close, .menu-close > .toolbar-button {
	color: #999;
}

.menu-list, .menu-item:first-child, .menu-item:last-child, .menu-item {
	background-color: transparent;
	background-image: none !important;
	border-color: transparent;
	color: #fff;
}

.menu-item {
	padding: 0 0 0 20px;
	line-height: 52px;
	height: 52px;
	text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
	display: inline-block;
	margin-top: 12px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	min-width: 16px;
	font-weight: 600;
}

.bottom-menu-list, .bottom-menu-item:first-child, .bottom-menu-item:last-child, .bottom-menu-item {
	border-color: #393939;
	background-color: transparent;
	background-image: none !important;
	color: #ccc;
}

.bottom-menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.helpOnline {
	text-align: justify;
	padding: 25px;
}
