.tmi-document-list {
    thead th,
    tbody td {
        vertical-align: middle!important;
        font-size: 0.6875rem;
        color: $tim-blue;
//          white-space: nowrap;
//          overflow: hidden;
//          text-overflow: ellipsis;
        @include media-breakpoint-up(md) {
            font-size: .75rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: .8125rem;
        }
    }
    td.tmi-file-type {
        border: 0;
        text-align: center;
        width: 1rem;
    }
    tbody td {
        border-top-color: $color-border;
    }
    tbody td:last-child {
        text-align: right;
    }
}
.tmi-docs-link {
    font-size: .75rem;
    @include media-breakpoint-up(md) {
        font-size: .875rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }
    color: $tim-blue;
}

.tmi-panel .panel-heading {
    padding: 10px 15px;
    h2 {
        font-size: 1.875rem;
    }
}
.tmi-heading-label {
    font-size: 1.125rem;
    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.75rem;
    }
    font-weight: 500;
    color: $tim-blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -.5rem;
}
.panel-heading {
    h2 {
        margin: 0;
    }
    .tmi-icon {
        position: relative;
        top: -.3125rem;
        left: -.9375rem;  
    }
}