$tmi-slide-height: 25.625rem;

.tmi-hero {
    padding-bottom: 2.5rem;
    .tmi-slide {
        min-height: $tmi-slide-height;
        width: 100%;
    }
}
.tmi-card {
    margin-top: .625rem;
    overflow: auto;
    display: flex;
    flex-direction: row;
    @include media-breakpoint-up(lg) {
        margin-top: 1.25rem;
        flex-direction: column;
    }
    .tmi-card-image {
        height: 5.625rem;
        width: 11.25rem;
        overflow: hidden;
        padding: 0!important;
        @include media-breakpoint-up(sm) {
            height: 11.25rem;
        }
        @include media-breakpoint-up(md) {
            width: 20rem;
        }
        @include media-breakpoint-up(lg) {
            width: 100%;
        }
        background-color: $tim-blue;
        img {
            object-fit: cover;
            min-width: 100%;
            width: 100%;
            position: relative;
            z-index: 0;
            height: 11.25rem;
        }
    }
    .tmi-card-text {
        height: 5.625rem;
        overflow: hidden;
        background-color: $tim-gray-light;
        color: $tim-gray;
        padding: .625rem;
        position: relative;
        z-index: 1;
        float: left;
        @include media-breakpoint-up(sm) {
            height: 11.25rem;
        }
        @include media-breakpoint-up(lg) { 
            float: none;
            padding: .625rem 1.25rem;
            height: 12.5rem;
        }
    }
    .tmi-card {
        &-heading {
            font-size: .9375rem;
            font-weight: 500;
            color: $tim-blue;
            margin-top: 0;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            @include media-breakpoint-up(sm) {
                -webkit-line-clamp: 2;
                font-size: 1.25rem;
            }
        }
        &-abstract {
            font-size: .6875rem;
            font-weight: 300;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            @include media-breakpoint-up(sm) {
                -webkit-line-clamp: 3;
                font-size: .75rem;
            }
            @include media-breakpoint-up(lg) {
                -webkit-line-clamp: 4;
                font-size: .875rem;
            }
        }
        &-link {
            font-size: inherit;
            color: $tim-blue;
        }
        &-time {
            font-size: .625rem;
            font-weight: 500;
            margin-top: .25rem;
            display: block;
            @include media-breakpoint-up(lg) {
                font-size: .875rem;
                margin-top: .625rem;
            }
        }
    }
}
.tmi-hero-slide {
    margin-top: 0;
    position: relative;
    display: block;
    box-sizing: border-box;
    .tmi-card-image {
        min-height: $tmi-slide-height;
        height: $tmi-slide-height;
        overflow: hidden;
        width: 100%;
        img {
            height: $tmi-slide-height;
        }
    }
    .tmi-card-text {
        background-color: rgba($tim-blue-aux-1,.9);
        color: white;
        padding: 1.25rem;
        position: absolute;
        left: 1.25rem;
        right: 1.25rem;
        bottom: 1.25rem;
        height: auto;
        overflow: hidden;
        border-radius: .5rem;
        @include media-breakpoint-up(md) {
            left: 5rem;
            right: auto;
            top: 50%;
            margin-top: -8.75rem;
            bottom: auto;
            width: 32.125rem;
            height: 17.5rem;
            padding: 1.875rem;
        }
    }
    .tmi-card {
        &-heading {
            font-size: 1.375rem;
            -webkit-line-clamp: 2;
            @include media-breakpoint-up(md) {
                font-size: 1.75rem;
            }
            font-weight: 300;
            color: white;
            margin-top: 1.25rem;
            margin-bottom: .625rem;
            a {
                color: white;
            }
        }
        &-abstract {
            font-size: .9375rem;
            @include media-breakpoint-up(lg) {
                font-size: 1.125rem;
            }
            font-weight: 300;
            opacity: .8;
        }
        &-link {
            color: $tim-blue-aux-3;
        }
        &-time {
            font-size: .75rem;
            @include media-breakpoint-up(lg) {
                font-size: .9375rem;
            }
            opacity: .75;
        }
    }
}

  .tmi-card-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .tmi-card-text > * + * {
    margin-top: 0.15625rem;
    @include media-breakpoint-up(lg) {
        margin-top: 0.46875rem;
    }
  }
  
  .tmi-card-text :last-child {
    margin-top: 0.46875rem;
    @include media-breakpoint-up(lg) {
        margin-top: auto;
    }
  }
  .tmi-card-text :first-child {
    margin-top: auto;
    @include media-breakpoint-up(lg) {
        margin-top: 0.46875rem;
    }
  }
  
  .tmi-card-text :nth-last-child(2) {
    margin-bottom: 0.46875rem;
  }

.tmi-hero,
.tmi-news-ticker {
    .bx-wrapper {
        margin-bottom: 0;
        padding: 0;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
           -moz-box-shadow: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: 0;
        background: transparent;
    }
}
.tmi-hero {
    .bx-wrapper {
        .bx-pager.bx-default-pager a {
            background-color: $tim-blue-aux-3;
            width: .5rem;
            height: .5rem;
            transition: background-color .2s ease-in-out;
            &.active,
            &:hover,
            &:focus {
                background-color: $tim-blue;
            }
        }
        .bx-controls-direction a {
            opacity: 1;
            transition: opacity .2s ease-in-out;
            background-position: 0 0;
            &:hover,
            &:focus {
                opacity: .75;
            }
            &.bx-prev {
                background-image: url('../img/ui/icon-nav-white-arrow-left.svg');
            }
            &.bx-next {
                background-image: url('../img/ui/icon-nav-white-arrow-right.svg');
            }
        }
    }
    &.light-slide {
        .bx-wrapper {
            .bx-controls-direction a {
                &.bx-prev {
                    background-image: url('../img/ui/icon-nav-blue-arrow-left.svg');
                }
                &.bx-next {
                    background-image: url('../img/ui/icon-nav-blue-arrow-right.svg');
                }
            }
        }
    }
}
