/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  padding-right: 0 !important;
}
.fa-1_5x {
  font-size: 1.5em;
}
.c-pointer {
  cursor: pointer;
}
input[readonly],
input[disabled],
input[type=checkbox][disabled],
.custom-control-input:disabled ~ .custom-control-label::after,
button:disabled,
.mat-button[disabled] {
  cursor: not-allowed !important;
  pointer-events: all !important;
}
button:focus {
  outline: none;
}

.langLabel {
  font-size: 0.8rem;
}
.langActive {
  font-size: 1.1rem;
}
.postIt {
  background-color: #ffff88 !important;
}