/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.sidebar {
    width: 25%;
    position: fixed;
    height: 100vh;
    z-index: 999;
    background: #e9ecef;
    color: #343a40;
    transition: all 0.3s;
}
.sidebarLeft {
    top: 0;
    left: 0;
}
.sidebarRight {
    top: 0;
    right: 0;
}
.c-pointer {
    cursor: pointer;
}