<div class="row">
    <div class="col-xl-12">
        <!--
        <h2 class="page-header">
            {{heading}}
        </h2>
        -->
        <div class="row breadcrumbRow">
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-dashboard pr-2"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">{{ 'nav.menu.dashboard' | translate }}</a>
                    </li>
                    <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> {{heading}}</li>
                </ol>
            </div>
            <div class="col-md-2 text-right p-2" *ngIf="key != 'restore' && key != 'monitoring' &&  key != 'filemanager' && key != 'virtualization' && key != 'audit'">
                <button type="button" class="btn btn-primary btn-sm mr-1" (click)="addItem()" placement="bottom" tooltip="{{ 'generic.label.add' | translate }} {{title}}" *ngIf="key != 'filelayout' && key != 'masking'">
                    <i class="fa fa-fw fa-plus-circle"></i>
                </button>
                <!--
                <button type="button" class="btn btn-warning btn-sm mr-1" (click)="filter()" placement="bottom" tooltip="{{ 'generic.label.search' | translate }} {{title}}" *ngIf="key == 'masking'">
                    <i class="fa fa-fw fa-search"></i>
                </button>
                -->
                <div *ngIf="key == 'filelayout' && sharedService.userProfile?.authorities[0].authority != 'ROLE_OPERATORE'">
                    <button type="button" class="btn btn-primary btn-sm mr-1" (click)="addItem()" placement="bottom" tooltip="{{ 'generic.label.add' | translate }} {{title}}">
                        <i class="fa fa-fw fa-plus-circle"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm mr-1" (click)="massiveLoading()" placement="bottom" tooltip="{{ 'generic.label.massiveLoading' | translate }} {{title}}">
                        <i class="fa fa-fw fa-file-excel-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
