/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 15px;
}

.glyphicon {
	font-size: 30px;
}
.toolbar span {
	margin-right: 10px;
	cursor: pointer;
}
#modalLineOrder .col-sm-5, 
#modalLineOrder .col-sm-5 {
	padding: 10px;
}