<div class="card card-default">
    <div class="card-header">
        <i class="fa fa-clock-o fa-fw"></i> Changelog
    </div>
    <div class="card-body">
        <ul class="timeline">
            <li>
                <div class="timeline-badge">v1.0.1</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <p><small class="text-muted"><i class="fa fa-calendar-o"></i> 25/10/2019</small></p>
                        <h6 class="timeline-title">Added</h6>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Bootstrap package</li>
                        </ul>
                    </div>
                    <hr />
                    <div class="timeline-heading">
                        <h6 class="timeline-title">Changed</h6>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Modifica pagina not-found</li>
                            <li>Eliminata voce di menu CHARTS</li>
                            <li>Modificata Dashboard</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge danger">v1.0.0</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <p><small class="text-muted"><i class="fa fa-calendar-o"></i> 24/10/2019</small></p>
                        <h6 class="timeline-title">Added</h6>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Amministrazione con le pagine</li>
                            <ul>
                                <li>Dashboard</li>
                                <li>Reporting</li>
                                <li>Survey</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>