<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" routerLink="/dashboard">
        <img class="logo-white" src="{{sharedService?.config?.settings?.logo?.white}}" />
        <img class="logo-dark" src="{{sharedService?.config?.settings?.logo?.dark}}" />
        <span class="pl-3">
            {{sharedService?.config?.settings?.title}}
        </span> 
    </a>
</nav>

<div class="row centralContent mt-4 p-4">
  <div class="col col-xl-12 col-lg-12">
    <div class="text-center mt-4 p-4">
        <img src="{{sharedService?.config?.settings?.logo?.login}}" width="250px" />
        <h2>Access denied!</h2>
    </div>
  </div>
</div>