<loading-bar #loadingBar [height]="height" [color]="color" [runInterval]="runInterval"></loading-bar>

<!--
<button (click)="loadingBar.start()">start</button><br/>
<button (click)="loadingBar.stop()">stop</button><br/>
<button (click)="loadingBar.reset()">reset</button><br/>
<button (click)="loadingBar.complete()">complete</button><br/>
-->

<div class="app app-default">

    <aside *ngIf="authenticationService.checkUserLogged()" class="app-sidebar" id="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-brand" href="#">
                <img class="img-responsive" src="./assets/img/logo-small.png" style="width: 80%;padding-top: 75px;" />
                <!--
                <span class="highlight">Easy</span> Comande
                -->
            </a>
            <button type="button" class="sidebar-toggle">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="sidebar-menu">
            <ul class="sidebar-nav" style="padding: 8rem 0 !important;">
                <li class="active">
                    <a [routerLink]="['/home']">
                        <div class="icon">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </div>
                        <div class="title">DESKTOP</div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/add']">
                        <div class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <div class="title">Aggiungi</div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/menu']">
                        <div class="icon">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </div>
                        <div class="title">Menu</div>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <div class="title">Configurazioni</div>
                    </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li class="section"><i class="fa fa-sign-out" aria-hidden="true"></i> Esci</li>
                            <li class="line"></li>
                            <li><a>{{labelTypeService}}</a></li>
                            <li class="line"></li>
                            <li><a [routerLink]="['/login/logout']">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <div class="appVersion">
                <span class="badge badge-danger">Version 2.0.2</span>
            </div>
        </div>
    </aside>

    <div class="app-container">

        <nav *ngIf="authenticationService.checkUserLogged()" class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
                <div class="navbar-collapse collapse in">
                    <ul class="nav navbar-nav navbar-mobile">
                        <li>
                            <button type="button" class="sidebar-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                        </li>
                        <li class="logo">
                            <a class="navbar-brand" href="#">
                                <img class="img-responsive" src="./assets/img/logo-small.png">
                                <!--
                                <span class="highlight">Easy</span> Comande
                                -->
                            </a>
                        </li>
                        <li>
                            <button type="button" class="navbar-toggle">
                                <img class="profile-img" src="./assets/img/flat-avatar.png">
                            </button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="navbar-title">DESKTOP</li>
                        <!--
                        <li class="navbar-search hidden-sm">
                            <input id="search" type="text" placeholder="Search..">
                            <button class="btn-search"><i class="fa fa-search"></i></button>
                        </li>
                        -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown notification">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                <div class="title">Ordinazioni</div>
                                <div class="count">{{orderPendingLength}}</div>
                            </a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="dropdown-header">Ordinazioni</li>
                                    <li class="dropdown-empty" *ngIf="orderPendingLength == 0">No New Ordered</li>
                                    <li *ngFor="let order of orders">
                                        <div *ngIf="order.state == 'pending'" (click)="orderDetail(order.id)" class="dropdownContent">
                                            <span class="badge badge-warning pull-right">{{order.totalorder}}</span>
                                            <div class="message">
                                                <div class="content">
                                                    <div class="title">{{order.client}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a [routerLink]="['/home']">Vedi tutte <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown notification success">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <div class="title">Completati</div>
                                <div class="count">{{orderSuccessLength}}</div>
                            </a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="dropdown-header">Completate</li>
                                    <li class="dropdown-empty" *ngIf="orderSuccessLength == 0">Nessun ordinazione</li>
                                    <li *ngFor="let order of orders">
                                        <div *ngIf="order.state == 'completed'" (click)="orderDetail(order.id)" class="dropdownContent">
                                            <span class="badge badge-success pull-right">{{order.totalorder}}</span>
                                            <div class="message">
                                                <div class="content">
                                                    <div class="title">{{order.client}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a [routerLink]="['/home']">Vedi tutte <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown notification danger">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="icon"><i class="fa fa-bell" aria-hidden="true"></i></div>
                                <div class="title">Notifiche</div>
                                <div class="count">{{notificationsCount}}</div>
                            </a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li class="dropdown-header">Notifiche</li>
                                    <li *ngFor="let not of notifications">
                                        <a (click)="orderDetail(not.order_id)">
                                            <span class="badge badge-danger pull-right">{{not.state}}</span>
                                            <div class="message">
                                                <div class="content">
                                                    <div class="title">{{not.client}}</div>
                                                    <div class="description">{{not.message}}</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown profile">
                            <a href="/html/pages/profile.html" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="profile-img" src="./assets/img/flat-avatar.png">
                                <div class="title">Profile</div>
                            </a>
                            <div class="dropdown-menu">
                                <div class="profile-info">
                                    <h4 class="username">{{currentUser}}</h4>
                                </div>
                                <ul class="action">
                                    <li>
                                        <a [routerLink]="['/home']">
                                            <!--
                                            <span class="badge badge-danger pull-right">5</span>
                                            -->
                                            Ordini
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/login/logout']">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <alert></alert>
        <router-outlet></router-outlet>
    </div>

</div>