<form [formGroup]="myForm"> 
  <div> 
    <label for="txtTitolo">Titolo</label>   
    <input type="text" formControlName="txtTitolo"> 
  </div> 
 
 
  <div> 
    <label for="txtAutore">Autore</label>   
    <input type="text" formControlName="txtAutore"> 
  </div> 
     
  <div> 
    <label for="txtTesto">Testo</label>   
    <textarea formControlName="txtTesto"></textarea> 
  </div> 
     
  <button type="button" (click)="visualizzaArticolo()">Invia</button> 
</form>

<!--
<form [formGroup]="registerForm">
  <label>Firstname:</label>
  <input type="text" formControlName="firstname">

  <label>Lastname:</label>
  <input type="text" formControlName="lastname">

  <fieldset formGroupName="address">
	  <label>Street:</label>
	  <input type="text" formControlName="street">

	  <label>Zip:</label>
	  <input type="text" formControlName="zip">

	  <label>City:</label>
	  <input type="text" formControlName="city">
	</fieldset>

  <button type="submit" (click)="visualizzaArticolo()">Submit</button>
</form>
-->