<div class="container loginPage">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="login-page">

                <div class="form">
                    <img src="{{sharedService?.config?.settings?.logo?.login}}" class="w-100 p-4" />
                    <form role="form" (keydown.enter)="onLoggedin()" autocomplete="off" class="login-form">
                        <input type="text" [(ngModel)]="username" name="username" class="form-control input-underline input-lg" placeholder="Username">

                        <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" placeholder="Password">

                        <button class="btn btn-primary rounded-btn" (click)="onLoggedin()"> Login </button>

                        <hr />
                        <p class="message">
                            <small><b>v{{sharedService.config.settings.version}}</b></small>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img src="{{sharedService?.config?.settings?.logo?.login}}" width="350px" />
            <h1 class="loginTitle">{{sharedService?.config?.settings?.title}}</h1>
            <form role="form" (keydown.enter)="onLoggedin()" autocomplete="off">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" name="username" class="form-control input-underline input-lg" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                </div>
                <a class="btn btn-primary rounded-btn" (click)="onLoggedin()"> Login </a>
            </form>
        </div>
    </div>
</div> -->
