
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /alefal.it/PROJECTS/easycomande/
#RewriteBase /easycomande/											##########Official release

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . /alefal.it/PROJECTS/easycomande/index.php [L]
#RewriteRule . /easycomande/index.php [L] 							##########Official release
</IfModule>

# END WordPress