<div *ngIf="userSelected && userSelected != null">
    <div class="text-right">
        <h1 class="badge badge-warning">{{userTitle}}</h1>
    </div>
    <hr />
    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <img [src]="userSelected.avatar" class="img-thumbnail" />
            </div>
            <div class="form-group col-md-10">
                <h6 class="text-right">
                    User <span class="badge badge-dark">#{{userSelected.id}}</span>
                    - <small>{{ userSelected.createdAt | date }}</small>
                </h6>
                <hr />
                <label><i class="fa fa-star" aria-hidden="true"></i> Title</label>
                <input name="userTitle" type="text" class="form-control" [(ngModel)]="userSelected.title">
            </div>
        </div>
        <div class="form-group">
            <label><i class="fa fa-file-text-o" aria-hidden="true"></i> Description</label>
            <textarea name="userDescription" class="form-control" rows="3" [(ngModel)]="userSelected.description"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label><i class="fa fa-link" aria-hidden="true"></i> Link</label>
                <input name="userLink" type="text" class="form-control" [(ngModel)]="userSelected.link">
            </div>
            <div class="form-group col-md-4">
                <label><i class="fa fa-user" aria-hidden="true"></i> Author</label>
                <input name="userAuthor" type="text" class="form-control" [(ngModel)]="userSelected.author">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label><i class="fa fa-comments-o" aria-hidden="true"></i> Comments</label>
                <input name="userComments" type="number" class="form-control" [(ngModel)]="userSelected.comments">
            </div>
            <div class="form-group col-md-4">
                <label><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</label>
                <input name="userLike" type="number" class="form-control" [(ngModel)]="userSelected.like">
            </div>
            <div class="form-group col-md-4">
                <label><i class="fa fa-share-alt" aria-hidden="true"></i> Shared</label>
                <input name="userShared" type="number" class="form-control" [(ngModel)]="userSelected.shared">
            </div>
        </div>
        <div class="text-right">
            <button *ngIf="userSelected.id > 0" type="submit" class="btn btn-outline-success rounded-0" (click)="userEdit(userSelected)">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            </button>
            <button *ngIf="userSelected.id == 0" type="submit" class="btn btn-outline-success rounded-0" (click)="userCreate(userSelected)">
                <i class="fa fa-cloud" aria-hidden="true"></i> Save
            </button>
        </div>
    </form>

</div>

<div *ngIf="!userSelected || userSelected == null">
    CREATE
</div>