<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body app-heading">
        <div class="app-title">
          <div class="title">
            <span class="highlight">Ordinazione</span>
            <span class="badge badge-danger pull-right orderAddTotal">&euro;  {{totaleOrdine}}</span>
          </div>

          <hr />

          <div class="form-group" align="center">
            <div class="col-md-12">
              <button type="submit" class="btn btn-info btn-lg" (click)="openModalAddSpecial()"><i class="fa fa-asterisk fa-1x"></i> Speciale</button>
              <button type="submit" class="btn btn-warning btn-lg" (click)="openModalAddNote()"><i class="fa fa-pencil-square-o fa-1x"></i> Nota Generica</button>
              
              <span style="margin: 0 30px"></span>
              <button type="submit" class="btn btn-default btn-lg" (click)="followOrder()"><i class="fa fa-arrows-h fa-1x"></i> Segue</button>
              <span style="margin: 0 30px"></span>

              <a class="btn btn-danger btn-lg" [routerLink]="['/home']"><i class="fa fa-close fa-1x"></i> Annulla</a>
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="totaleOrdine == 0 && !ordineEdit" (click)="saveOrder()">
                <span *ngIf="!ordineEdit"><i class="fa fa-check fa-1x"></i> Salva</span>
                <span *ngIf="ordineEdit"><i class="fa fa-check fa-1x"></i> Modifica</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 ordersList">
    <div class="card">
      <div class="card-body">
        <form class="form form-horizontal">
          <div class="section orderInformation">
            <div class="section-title">Informazioni</div>
            <div class="section-body">

              <div class="row" *ngIf="!ordineEdit">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-3 control-label">Tavolo</label>
                    <div class="col-md-9">
                      <input type="number" class="form-control" placeholder="" [(ngModel)]="numTavolo" name="numTavolo" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-3">
                      <label class="control-label">Coperti</label>
                    </div>
                    <div class="col-md-9">
                      <input type="number" class="form-control" placeholder="" required name="numeroCoperti" #numeroCoperti (blur)="updateTotal(numeroCoperti.value)"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="ordineEdit">
                <div class="col-md-12">
                  <h3>Ordine per <strong>{{ordine.client}}</strong></h3>
                  <h4 *ngIf="ordine.totalorder != 0">Totale <i>{{ordine.totalorder}} &euro;</i> di cui <i>{{ordine.totalservice}} &euro;</i> per servizio</h4>
                  <h4 *ngIf="ordine.totalorder == 0">Totale <i>{{ordine.totalorder}} &euro;</i></h4>
                </div>
              </div>

            </div>
          </div>

          <div class="section" *ngIf="products?.length > 0">
            <div class="section-title">Piatti da menu</div>
            <div class="section-body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let prod of products | orderBy:'id'" [ngClass]="{'itemIsExtra': prod.isExtra}">
                  <div class="card card-banner card-blue-light">
                    <div class="card-body">

                      <!-- If delete the product -->
                      <div mwlConfirmationPopover [title]="title" [message]="message" [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom"
                        (confirm)="removeQuantity(prod)" (cancel)="cancelClicked = true" confirmButtonType="danger" cancelButtonType="default"
                        [appendToBody]="true" class="icon fa fa-minus fa-4x" *ngIf="prod.quantity == 1">
                      </div>
                      <!-- If remove quantity -->
                      <div  class="icon fa fa-minus fa-4x" (click)="removeQuantity(prod)" *ngIf="prod.quantity > 1"></div>
                      <div class="icon fa fa-plus fa-4x iconAddQuantity" (click)="addQuantity(prod)" *ngIf="!prod.isExtra"></div>
                      <div class="icon fa fa-pencil fa-4x iconAddNote" (click)="openModalAddMetaProduct(prod)"></div>
                      <div class="icon fa fa-cutlery fa-4x iconAddExtra" (click)="openModalAddExtra(prod)" *ngIf="!prod.existExtra && !prod.isExtra && prod.hasExtra"></div>                      

                      <div class="content itemProduct">
                        <div class="title">
                          <em>{{prod.quantity}} x {{prod.menuname}}</em>
                          <hr />
                          <span class="badge badge-info">ordine uscita: {{prod.order}}</span>
                        </div>

                        <div class="alert alert-danger alert-dismissable fade in" *ngIf="prod.note != ''">
                          <a href="javascript:void(0);" (click)="removeMetaProduct(prod)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          {{prod.note}}
                        </div>

                        <div class="value"><span class="sign">&euro; </span>{{prod.quantity * prod.price}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section" *ngIf="ships?.length > 0">
            <div class="section-title">Piatti speciali</div>
            <div class="section-body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let ship of ships">
                  <div class="card card-banner card-yellow-light">
                    <div class="card-body">
                      <div mwlConfirmationPopover [title]="title" [message]="message" [confirmText]="confirmText" [cancelText]="cancelText" [placement]="bottom"
                        (confirm)="removeSpecial(ship.id,ship.price)" (cancel)="cancelClicked = true" confirmButtonType="danger" cancelButtonType="default"
                        [appendToBody]="true" class="icon fa fa-times fa-4x">
                      </div>
                      <div class="content itemProduct">
                        <div class="title"><em>1 x {{ship.special}}</em></div>
                        <div *ngIf="ship.note != ''">
                          <span class="badge badge-warning">{{ship.note}}</span>
                        </div>
                        <div class="value"><span class="sign">&euro; </span>{{ship.price}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="categories?.length > 0">
      <div class="panel panel-default" *ngFor="let cat of categories | orderBy:'name'" (click)="loadData(cat.name)" [class.active]="cat.name == categoryName">
        <div class="panel-heading" role="tab" id="heading{{cat.id}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{cat.id}}" aria-expanded="true" attr.aria-controls="collapse{{cat.id}}">
              {{cat.name}} <span class="badge badge-warning pull-right">{{cat.count}}</span>
            </a>
          </h4>
        </div>
        <div id="collapse{{cat.id}}" class="panel-collapse collapse productsForCategory" role="tabpanel" attr.aria-labelledby="heading{{cat.id}}">
          <div class="panel-body" *ngFor="let prod of productsMenu | orderBy:'name'">
            <h5 (click)="addProducts(cat,prod)">{{prod.name}} <span class="badge pull-right">&euro; {{prod.price}}</span></h5>
            <p><i [innerHTML]="prod.description"></i></p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="notes?.length > 0">
      <div class="quote-container" *ngFor="let nota of notes">
        <blockquote class="note yellow">
          <div class="icon fa fa-times fa-2x" (click)="removeNote(nota.id)" style="cursor:pointer"></div>
          {{nota.note}}
        </blockquote>
      </div>
    </div>

  </div>
</div>


<!--
<div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#genericAddModal">
    Demo modal
  </button>
</div>
-->
<div class="modal fade" id="genericAddModal" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">

        <div *ngIf="modalSection == 'notaPiatto'" class="modalContent">
          <h5>Aggiungi una nota al piatto</h5>
          <div class="input-group">
            <span class="input-group-addon" id="notaPiatto">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <input type="text" autofocus class="form-control" placeholder="Nota" aria-describedby="notaPiatto" [(ngModel)]="notaAlPiatto" />
          </div>
        </div>

        <div *ngIf="modalSection == 'addSpecial'" class="modalContent">
          <h5>Aggiungi un piatto fuori menu</h5>
          <div class="input-group">
            <span class="input-group-addon" id="nomeSpeciale">
            <i class="fa fa-asterisk" aria-hidden="true"></i></span>
            <input type="text" autofocus class="form-control" placeholder="Nome" aria-describedby="nomeSpeciale" [(ngModel)]="nomeSpeciale" />
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="prezzoSpeciale">
            <i class="fa fa-money" aria-hidden="true"></i></span>
            <input type="number" class="form-control" placeholder="Prezzo" aria-describedby="prezzoSpeciale" [(ngModel)]="prezzoSpeciale" />
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="notaSpeciale">
            <i class="fa fa-pencil" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Nota" aria-describedby="notaSpeciale" [(ngModel)]="notaSpeciale" />
          </div>
        </div>

        <div *ngIf="modalSection == 'addGenericNote'" class="modalContent">
          <h5>Aggiungi una nota all'ordine</h5>
          <div class="input-group">
            <span class="input-group-addon" id="notaGenerica">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <input type="text" autofocus class="form-control" placeholder="Nota" aria-describedby="notaGenerica" [(ngModel)]="notaGenerica" />
          </div>
        </div>

        <div *ngIf="modalSection == 'addProductExtra'" class="modalContent">
          <h5>Aggiungi un extra all'ordine</h5>
          <hr />
          <div class="radio" *ngFor="let extra of extras; let idx = index;">
              <input type="radio" name="optionsRadiosExtra" id="extra{{extra.id}}" value="{{extra.id}}|{{extra.name}}|{{extra.price}}" (change)="setExtra(extra.id+'|'+extra.name+'|'+extra.price)" />
              <label for="extra{{extra.id}}">
                  {{extra.name}} ({{extra.price}})
              </label>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Chiudi</button>
        <button *ngIf="modalSection == 'notaPiatto'" type="button" class="btn btn-sm btn-success" (click)="addMetaProduct()">Aggiungi Nota</button>
        <button *ngIf="modalSection == 'addSpecial'" type="button" class="btn btn-sm btn-success" (click)="addSpecial()">Aggiungi Speciale</button>
        <button *ngIf="modalSection == 'addGenericNote'" type="button" class="btn btn-sm btn-success" (click)="addNote()">Aggiungi Nota Generica</button>
        <button *ngIf="modalSection == 'addProductExtra'" type="button" class="btn btn-sm btn-success" (click)="addExtra()">Aggiungi Extra</button>
      </div>
    </div>
  </div>
</div>