.orderAddTotal {
    font-size: 1em;
    padding: 10px;
}
.listProductByCategory {
    padding: 0 !important;
}

.panel-group {
    overflow-y: auto;
    max-height: 500px;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}

.itemIsExtra {
    background-color: #defb97 !important;
    font-style: italic;
    font-size: 1.2rem;
}

.card.card-banner .card-body .icon {
    z-index: 998;
}
.popover {
    z-index: 1000000;
}

.iconAddQuantity {
    margin-left: 100px;
}
.iconAddNote {
    margin-left: 200px;
}
.iconAddExtra {
    margin-left: 300px;
}

.itemProduct {
    border-bottom: 1px solid #ccc;
}

.productsForCategory .panel-body {
    padding: 0;
}
.productsForCategory .panel-body h5 {
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f7f7f7;
    margin: 0;
}
.productsForCategory .panel-body p {
    padding: 5px 20px;
}

.ordersList .card-body {
    padding: 0;
}
.ordersList .card-body .orderInformation,
.ordersList .card-body .section .section-title {
    padding: 30px;
}

/* NOTE */
.quote-container {
  margin-top: 30px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  box-shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  border-left-width: 0px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.alert {
    padding: 5px 15px;
    margin-bottom: 0px;
}
.alert-dismissable .close, .alert-dismissible .close {
    left: 10px;
}

/* MODALS */
.modal .modal-dialog .modal-content .modal-body {
    padding: 0;
}
.modal .modal-dialog .modal-content .modal-body .modalContent {
    padding: 30px;
}