<ng-container *ngFor="let menuitem of (appConfig$ | async).features.profile">
    <button mat-menu-item *ngIf="menuitem.type === 'link' && menuitem.enabled" (click)="callFunction(menuitem.action)">
        <mat-icon>{{ menuitem.icon }}</mat-icon> {{ menuitem.name }}
    </button>
</ng-container>
<!-- <button mat-menu-item>
    <mat-icon>account_box</mat-icon> Profile
</button>
<button mat-menu-item>
    <mat-icon>notifications_off</mat-icon> Disable notifications
</button>
<button mat-menu-item (click)="storeService.logout()">
    <mat-icon>exit_to_app</mat-icon> Sign Out
</button> -->
<hr />
<div class="pr-4 text-right">
    <small>version <em>{{ (appConfig$ | async).settings.version }}</em> </small>
</div>