<ons-page ng-controller="listsNews">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.toggle()">
				<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">
			RSS Reader
		</div>
		<div class="right">
			<ons-toolbar-button ng-click="refreshFeed()">
				<ons-icon icon="ion-loop" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<ons-row>
		<div id="mask">
			<div id="loading">
				<ons-icon icon="spinner" size="40px" spin="true"></ons-icon>
			</div>
		</div>

		<ul id="feed-list"></ul>
		<p id="error-message"></p>

	</ons-row>
</ons-page>