// COLOR PALETTE

// colori primari
$tim-red          : #eb0028;
$tim-blue         : #004691;

// colori ausiliari di primo livello
$tim-red-aux-1    : #960028;
$tim-red-aux-2    : #c80028;
$tim-red-aux-3    : #ff825a;
$tim-blue-aux-1   : #003264;
$tim-blue-aux-2   : #376ea5;
$tim-blue-aux-3   : #82b9e6;
$tim-green-aux-1  : #008C55;
$tim-green-aux-2  : #82C85A;
$tim-green-aux-3  : #B4D28C;
$tim-yellow-aux-1 : #DC8200;
$tim-yellow-aux-2 : #FAB932;
$tim-yellow-aux-3 : #FBD872;

// colori neutri
$tim-gray:          #777777;
$tim-gray-light:    #F2F2F2;

// altri colori
$selection-color:   $tim-blue-aux-3;
$body-bg:           white;
$link-color:        $tim-blue;
$color-border:      #C7CDCD;

// bootstrap basic
$brand-primary:         $tim-blue;
$brand-success:         $tim-green-aux-2;
$brand-info:            $tim-blue-aux-3;
$brand-warning:         $tim-yellow-aux-3;
$brand-danger:          $tim-red-aux-2;